<footer>
    <nav>
        <ul>
            <a href="">
                <li>
                    <img src="static/images/chat.icon.png" alt="a">
                </li>
            </a>
            <a href="">
                <li>
                    <img src="static/images/home.icon.png" alt="a">
                </li>
            </a>
            <a href="profile">
                <li>
                    <img src="static/images/profile.icon.png" alt="a">
                </li>
            </a>
        </ul>
    </nav>

</footer>