<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Profile</title>
</head>

<body class="likes">

    <header>
        <a href="profile">
            <figure>
                <img src="static/images/profile.pic.jpg" alt="Profile picture">
                <figcaption>Guus</figcaption>
            </figure>
        </a>
    </header>

    <main>

        <ul>
            <li>
                <a href='visitors'>
                    <figure>
                        <img src="static/images/eyes.png" alt="Visitors icon">
                        <figcaption> 4 Visitors</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="likes">
                    <figure>
                        <img src="static/images/like.icon.invert.png" alt="Likes icon">
                        <figcaption> 2 Likes</figcaption>
                    </figure>
                </a>
            </li>
        </ul>

        <div>
            <ul>
                <li> Ralf Zonneveld <img src="static/images/profile.pic.jpg" alt="Profile picture"> </li>
                <li> Ralf Zonneveld <img src="static/images/profile.pic.jpg" alt="Profile picture"> </li>
            </ul>
        </div>

    </main>

        
    <%- include('footer') %>

    <%- include('tail') %>

</body>
</html>